In [9]:
#Import Main Dependencies
import pandas as pd
from sqlalchemy import create_engine
from unicodedata import normalize

In [10]:
#Read in the emissions data file 
csv_file = "resources/CO2emissionbycountriesclean.csv"
c02_df = pd.read_csv(csv_file)
c02_df.head()

,Country,Code,CO2_emission_in_tons,Population_in_2022,Area,Year,Density_in_km2,percent_of_World_demicals
0,Afghanistan,AF,0.0,41128771.0,652230.0,1750,63.0,0.004
1,Afghanistan,AF,0.0,41128771.0,652230.0,1751,63.0,0.004
2,Afghanistan,AF,0.0,41128771.0,652230.0,1752,63.0,0.004
3,Afghanistan,AF,0.0,41128771.0,652230.0,1753,63.0,0.004
4,Afghanistan,AF,0.0,41128771.0,652230.0,1754,63.0,0.004

In [11]:
# check data types for SQL compatibility 
c02_df.dtypes

Country                       object
Code                          object
CO2_emission_in_tons         float64
Population_in_2022           float64
Area                         float64
Year                           int64
Density_in_km2               float64
percent_of_World_demicals    float64
dtype: object

In [12]:
#Create SQL Alchemy engine to postgres database "IMDB_db"
protocol = 'postgresql'
username = 'postgres'
password = 'rossygossy64'
host = 'localhost'
port = 5432
database_name = 'Emissions_CO2'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [13]:
#show the existing table names in the database
engine.table_names()

/var/folders/lf/_fj3_9ln3j5bmwl546qpzm1w0000gn/T/ipykernel_6944/2549929793.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['emissions']

In [14]:
#write the data in the dataframe to the database table
c02_df.to_sql(name='emissions', con=engine, if_exists='replace', index=False)

620

In [15]:
#Query the carbon emissions data table to confirm the above data load
pd.read_sql_query('select * from public."emissions"', con=engine)

,Country,Code,CO2_emission_in_tons,Population_in_2022,Area,Year,Density_in_km2,percent_of_World_demicals
0,Afghanistan,AF,0.0,41128771.0,652230.0,1750,63.0,0.004
1,Afghanistan,AF,0.0,41128771.0,652230.0,1751,63.0,0.004
2,Afghanistan,AF,0.0,41128771.0,652230.0,1752,63.0,0.004
3,Afghanistan,AF,0.0,41128771.0,652230.0,1753,63.0,0.004
4,Afghanistan,AF,0.0,41128771.0,652230.0,1754,63.0,0.004
...,...,...,...,...,...,...,...,...
59615,Zimbabwe,ZW,736467042.0,16320537.0,390757.0,2016,42.0,0.003
59616,Zimbabwe,ZW,746048675.0,16320537.0,390757.0,2017,42.0,0.003
59617,Zimbabwe,ZW,757903042.0,16320537.0,390757.0,2018,42.0,0.003
59618,Zimbabwe,ZW,768852126.0,16320537.0,390757.0,2019,42.0,0.003
59619,Zimbabwe,ZW,779383468.0,16320537.0,390757.0,2020,42.0,0.003

In [16]:
pd.read_sql_query('select * from public."emissions"', con=engine).count()

Country                      59620
Code                         57452
CO2_emission_in_tons         59620
Population_in_2022           53116
Area                         55284
Year                         59620
Density_in_km2               53116
percent_of_World_demicals    55284
dtype: int64